body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

i svg {
  fill: #FF224A;
  transition: all 0.4s ease-in-out;
}

#topbar {
  background: #FF224A;
  color: #fff;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}
#topbar i {
  padding-right: 6px;
}
#topbar svg {
  fill: #fff;
}
/* header */
#header {
  background: #fff;
  transition: all 0.5s;
  padding: 20px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .navbar-brand{
  width: 20vh;
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #555555;
}

#header .navbar-brand img {
  width: 100%;
}

@media (max-width: 992px) {
  #header {
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}
/* navbar  */
.navbar-light .navbar-nav .active>.nav-link {
  color: #FF224A;
}
.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  color: #222222;
}
.dropdown-item:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF224A;
}
.appointment-btn {
  background: #FF224A;
  padding: 10px 25px;
  color: #F5F5F5;
  border-radius: 4px;
  transition: 0.3s;
  font-weight: 600;
}
.appointment-btn:hover {
  background: #FF4365;
}
@media (max-width: 768px) {
  .appointment-btn{
    padding: 5px 12px;
  }
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(60, 60, 60, 0.8);
  overflow: hidden;
  position: relative;
}
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#hero .container {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-top: 4px solid #FF224A;
  color: #222222;
  border-bottom-left-radius: .7em;
  border-bottom-right-radius: .7em;
}

#hero .carousel-caption .btn-get-started {
  background: #FF224A;
  padding: 6px 24px;
  color: #F5F5F5;
  border-radius: 4px;
}
#hero h2 {
  color: #2f2f2f;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 40px auto;
  color: #555555;
}


#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  top: 112px;
}

@media (max-width: 992px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    top: 66px;
  }
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #FF224A;
}

#hero .btn-get-started:hover {
  background: #FF4365;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }
  #hero .container {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 160vh;
  }
}
 /* General section  */
 section .title-section {
   text-align: center;
   margin-bottom: 35px;
 }
  section .title-section  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
  }
   section .title-section h2::after {
     content: "";
     position: absolute;
     display: block;
     width: 60px;
     height: 3px;
     background: #FF224A;
     bottom: 0;
     left: calc(50% - 28px)
   }
/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services {
  padding: 80px 0;
  overflow: hidden;
}
.featured-services .icon-box {
  background: #fff;
  padding: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  z-index: 1;
}
.featured-services .icon-box::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: all 0.4s;
  z-index: -1;
}
.featured-services .icon-box:hover {
  transform: translateY(-8%);
}
.featured-services .icon-box:hover::before{
  background: #FF224A;
  bottom: 0;
  border-radius: 0px;
}
.featured-services .icon-box .icon {
  margin-bottom: 15px;
}
.featured-services .icon-box:hover .icon svg {
  fill: #fff;
}
.featured-services .icon-box .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.featured-services .icon-box .title a {
  color: #222222;
  transition: all 0.4s ease-in-out;
}
.featured-services .icon-box .description p {
  font-size: 15px;
  margin-bottom: 0;
  transition: all 0.4s ease-in-out;
}
.featured-services .icon-box:hover a,
.featured-services .icon-box:hover p{
  color: #fff;
}

/*--------------------------------------------------------------
# data-content
--------------------------------------------------------------*/
.data-content {
  background: #FF224A;
  color: #fff;
  padding: 60px 0;
  overflow: hidden;
}
.data-content h3{
  margin-bottom: 15px;
}
.data-content-btn {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 1;
  border-radius: 25px;
  border: 2px solid #fff;
  transition: 0.5s;
  margin-top: 20px;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  font-weight: 600;
}
.data-content-btn:hover {
  background: #fff;
  color: #FF224A;
}
/*--------------------------------------------------------------
# about content
--------------------------------------------------------------*/
.about {
  padding: 80px 0;
  overflow: hidden;
}
.about .content h3 {
  font-size: 26px;
  font-weight: 600;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul li i {
  margin-right: 10px;
}
.about .content p:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# counts content
--------------------------------------------------------------*/
.counts {
  padding: 80px 0px;
  overflow: hidden;
}
.counts .count-box {
  background: #fefefe;
  padding: 25px;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  border-radius: 16px;
  border-bottom: 5px solid #fff;
  transition: all 0.4s ease-in-out;
}
.counts .count-box:hover {
  transform: translateY(-8px);
  border-color: #FF224A;
}
.counts .count-box i {
   margin-right: 30px;
}
.counts .count-box span {
  font-size: 42px;
  font-weight: 700;
  color: #555555;
}
.counts a {
  color: #2e2e2e;
  transition: 0.2s ease-in-out;
}
.counts a:hover {
  color: #FF224A;
}
/*--------------------------------------------------------------
# features content
--------------------------------------------------------------*/
.features {
  padding: 60px 0px;
}
.features .icon-box {
  display: flex;
}
.features .icon-box .title {
  margin-left: 20px;
}
.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
/*--------------------------------------------------------------
# services content
--------------------------------------------------------------*/
.services {
  padding: 60px 0px 30px 0px;
}
.services .icon-box {
  text-align: center;
}
.services .icon-box .title{
  padding-bottom: 12px;
  position: relative;
}
.services .icon-box .title a{
  color: #222222;
  font-size: 18px;
}
.services .icon-box .title::after{
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #FF224A;
  bottom: 0;
  left: calc(50% - 28px)
}
.services .icon-box .icon {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);
}
/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
.appointment {
  background: #FFF8FB;
  padding: 60px 0px;
}
.appointment button {
  background: #FF224A;
  padding: 10px 25px;
  color: #F5F5F5;
  border-radius: 4px;
  transition: 0.3s;
  border: hidden;
  font-weight: 600;
}
.appointment button:hover {
  background: #FF4365;
}
/*--------------------------------------------------------------
# departments section
--------------------------------------------------------------*/
.departments {
  margin: 80px 0px;
}
.departments .nav-tabs {
  border: 0;
}
.departments .nav-link {
  border: 0;
  border-radius: .2em;
  color: #3c3c3c;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
.departments p {
  margin-bottom: 0;
}
.departments .nav-link.active {
  background-color: #FFF8FB;
}
.departments .nav-link.active h4{
  color: #FF224A;
}
.departments .nav-link:hover h4{
  color: #FF224A;
}
.departments img {
  max-width: 300px;
  margin: 25px 0px 35px 0px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
.departments .tab-pane h3 {
  color: #FF224A;
  letter-spacing: 3px;
}
.departments .tab-pane.active {
  -webkit-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# doctors section
--------------------------------------------------------------*/
.doctors {
  margin: 40px 0px;
  background: #FFF8FB;
  padding: 40px 0px;
}
.doctors .member {
  background: #FFF;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

}
.doctors .member-img {
  position: relative;
  overflow: hidden;
}
.doctors .member-img img {
  max-width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.doctors .member-info {
  margin: 20px 0px;
  text-align: center;
}
.doctors .social svg {
  fill: #4e4e4e;
}
.doctors .member .social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.doctors .member:hover .social {
  opacity: 1;
}
.doctors .member:hover .social svg:hover {
  fill: #FF224A;
}

/*--------------------------------------------------------------
# pricing section
--------------------------------------------------------------*/
.pricing {
  margin-top: 80px;
  margin-bottom: 100px;
}
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color:  #FF4365;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #FF224A;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.pricing .btn-buy:hover {
  background: #FF4365;
}

.pricing .active h3 {
  color: #fff;
  background: #FF224A;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #FF224A;
  color: #fff;
}
/*--------------------------------------------------------------
# Frequently Asked Questioins
--------------------------------------------------------------*/
.faq {
  padding: 60px 0px;
  background: #FFF8FB;
}
.faq .card {
  border: none;
}
.faq .card-header {
  background: #FFF8FB;
}
.faq .card-header button {
  color: #444;
  text-decoration: none;
}
.faq .card-header button:hover {
  color: #FF224A;
}
/*--------------------------------------------------------------
# contact details
--------------------------------------------------------------*/
.contact {
  margin: 100px 0px;
}
.contact .form {
  background: #fff;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.contact .info-box {
  text-align: center;
  padding: 14px;
  background: #fff;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.contact .info-box h3 {
  margin-top: 10px;
}
.contact .info-box p {
  margin: 0;
}
.contact button {
  background: #FF224A;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.contact .info-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: 2px dotted #FF224A;
}
/*--------------------------------------------------------------
# footer section
--------------------------------------------------------------*/
.footer {
  background: #eeeeee;
  padding: 0 0 30px 0;
  color: #555555;
  font-size: 14px;
}

.footer {
  background: #f6f6f6;
  padding: 60px 0 30px 0;
}

.footer .footer-info {
  margin-bottom: 30px;
}

.footer .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

.footer .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}
.footer .social-links svg {
  fill: #f9f9f9;
}
.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FF224A;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: #FF4365;;
  text-decoration: none;
}

.footer h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: #3fbbc0;
  font-size: 18px;
  line-height: 1;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: #555555;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #FF224A;
}

.footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}
.footer  .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

.footer  .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #FF224A;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

.footer  .footer-newsletter form input[type="submit"]:hover {
  background: #FF4365;
}
